@model IEnumerable<Features>

@{
    ViewData["Title"] = "List of Features";
}

<div class="row">
    <div class="col-md-8 offset-md-2" style="margin: 0 auto; text-align:left">

        <table class="table" style="width:1000px">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.FeaturePictureURL)</th>
                    <th style="width:100px">@Html.DisplayNameFor(model => model.FeatureName)</th>
                    <th style="width:430px">@Html.DisplayNameFor(model => model.Description)</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@item.FeaturePictureURL" alt="@item.FeatureName" style="max-width: 150px"/>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FeatureName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    
                </tr>   
                }
            </tbody>
        </table>
    </div>
</div>


